/*Display days*/
$primary-day:#000000;
$evidence-day:#202020;
$background-day:none;
$evidence-background-day:none;
$border-day:none;
$evidence-border-day:#000000;

/*day*/
    /*non-evidence*/
$primary-color-day:#202020;
$background-color-day:#ffffff;
$border-day:#000000;
    /*in-evidence*/
$evidence-day-color:#ffffff;
$evidence-background-day:#222121;
$evidence-border-day:#000000;
    /*in-evidence*/
$not-the-current-month:#888888;

/*Selector*/
$selector-activation-border-btn:#202020;
$selector-font-color:#202020;

/*data picker*/
$data-picker-background-color:transparent;


/*Month Year*/
$selector-border-color:#202020;