/*dark mode scheme Calendar component*/
$primary-color-dark:#0f0f0f;
$secundary-separation-color-dark:#BDBDBD;
$font-color-dark:#303F9F;
$default-font-color-dark:black;
/*light mode scheme Calendar component*/
$primary-color-light:white;
$secundary-separation-color-light:#BDBDBD;
$font-color-light:#212121;
$default-font-color-light:#000000;
/*Events scheme of colors*/
$primary-green-icon:rgb(0, 92, 0);
$primary-green-font-icon:white;
$hovered-green-icon:rgb(0, 195, 0);
$hovered-green-icon-font:black;
$primary-divider-card-icon:#F0F4C3;
$text-color-card-icon:#FFFFFF;
$main-color-card:#212121;


/* Calendar Colors....*/
$main-black-color:#000000;
$secundary-black-color:#212121;
$separation-grey:#424242;
$main-header-blue:#00BCD4;
$main-color-miniCalendar:#0D0D0D;
$text-color-miniCard:#ffffff;
$background-display-events:#673AB7;
$background-list-add-events:#673AB7;
$division-color-box-items:#BDBDBD;
$blue-btn-add-event:#009688;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
