/*dark mode scheme Calendar component*/
$primary-color-dark:#0f0f0f;
$secundary-separation-color-dark:#4b4b4b;
$font-color-dark:#3700b6;
$default-font-color-dark:black;
/*light mode scheme Calendar component*/
$primary-color-light:white;
$secundary-separation-color-light:#292929f4;
$font-color-light:#2b2141;
$default-font-color-light:white;
/*Events scheme of colors*/
$primary-green-icon:rgb(0, 92, 0);
$primary-green-font-icon:white;
$hovered-green-icon:rgb(0, 195, 0);
$hovered-green-icon-font:black;