@import '../style/configs.scss', 'colors.scss';

.month-year{
    min-width:70px;
    width:min-content;
    height:auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    &__show-data{
        width:auto;
        box-sizing: border-box;
        padding:5px;
        background:none;
        font-size:18px;
        font-family: "Roboto", sans-serif;
        border:none;
    }
}
.border-default {
    border:2px solid $selector-border-color;
}
